.food-container {
  margin-top: 150px;
  text-align: center;
  padding-bottom: 304px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 200px;
}
.food-input input {
  width: 30%;
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid #000;
  padding-left: 10px;
  font-weight: bold;
}
.item {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 600px;
  align-items: center;
  background-color: #497d59;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 400px;
  color: #fff;
  -webkit-box-shadow: -4px 7px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 7px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 7px 16px 0px rgba(0, 0, 0, 0.75);
}
.item-image img {
  border-radius: 10px;
}
.item .a {
  margin-right: 30px;
}
.item .b .item-title {
  font-size: 30px;
  margin-bottom: 30px;
}
