.food-container {
  margin-top: 150px;
  text-align: center;
  padding-bottom: 304px;
  font-size: 20px;
  font-weight: bold;
}
.food-input input {
  width: 30%;
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid #000;
  padding-left: 10px;
  font-weight: bold;
}
.item {
  margin-bottom: -355px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.item .a {
  margin-right: 30px;
}
.item .b .item-title {
  font-size: 30px;
  margin-bottom: 30px;
}
