.dietlist-container {
  margin-top: 160px;
}
.diet-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.diet-list-item {
  border: 2px dashed #000;
  padding: 20px;
  margin: 30px;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}
.diet-list-item:hover {
  background-color: #497d59;
  color: #fff;
}
.diet-list-item:hover .diet-list-account button {
  border: 1px solid #000;
}
.diet-list-item:hover .diet-list-url {
  color: #fff;
}
.diet-list-description {
  margin-top: 25px;
}
.diet-list-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.diet-list-row {
  align-items: stretch;
}
.diet-list-description p span {
  font-weight: bold;
}
.filter-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.267);
  padding-bottom: 10px;
}
.diet-list-filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.diet-list-filter ul li {
  margin-bottom: 20px;
  font-size: 20px;
}
.diet-list-filter ul li:hover {
  cursor: pointer;
}

.item-add button {
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #497d59;
  color: #fff;
}

/* .diet-list-col-md-3 {
  position: fixed;
} */

.dietlist-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.filter {
  display: flex;
  justify-content: center;
}
.filter button {
  border: none;
  background-color: #497d59;
  padding: 8px;
  margin: 10px;
  color: #fff;
  border-radius: 10px;
}
.filter button:hover {
  background-color: #9cc069;
  transition: 0.3s ease-in;
}
.dietlist-notuser {
  margin-top: 302px;
  margin-bottom: 301px;
}

.dietlist-notuser p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.dietlist-notuser p a {
  color: #497d59;
  text-decoration: none;
}
.dietlist-notuser p a:hover {
  text-decoration: underline;
}
.diet-list a {
  text-decoration: none;
  color: #000;
}
.dietlist-err {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 147px;
  margin-bottom: 146px;
}
.dietlist-flex {
  display: flex;
  gap: 20px;
}
.filter-menu-diet-list {
  flex: 1;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  padding-right: 20px;
}
.filter-menu-diet-list p {
  font-weight: bold;
  border-bottom: 2px solid #000;
}
.filter-menu-diet-list ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 600;
}
.filter-menu-diet-list ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding-bottom: 5px;
}
.filter-menu-diet-list ul li svg {
  font-size: 25px;
}

.filter-menu-diet-list ul li:hover {
  position: relative;
  width: 100px;
  color: #497d59;
  transition: 0.2s ease-in-out;
}
.main-dietlist {
  flex: 7;
}
