.personelpage-container {
  margin-top: 150px;
}

.personel-row-3 img {
  width: 100%;
  margin-top: -250px;
  border-radius: 50%;
}
.personel-title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}
.personel-row-9 {
  padding: 40px;
}
.personel-title-2 {
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  padding-bottom: 0;
  position: absolute;
  margin-top: -56px;
  z-index: 1;
  background-color: #fff;
}
.personel-info {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 70px;
}
.personel-info-2 {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
  margin-bottom: 70px;
}
.personel-name input,
.personel-surname input,
.personel-tc input {
  width: 100%;
  border-radius: 10px;
  border: none;
  border: 1px solid #000;
  padding: 5px;
}
.personel-name span,
.personel-surname span,
.personel-tc span {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.personel-yas input,
.personel-boy input,
.personel-kilo input,
.personel-yemek input,
.personel-hedef input,
.personel-ilgi input {
  width: 100%;
  border-radius: 10px;
  border: none;
  border: 1px solid #000;
  padding: 5px;
}
.personel-yas span,
.personel-boy span,
.personel-kilo span,
.personel-yemek span,
.personel-hedef span,
.personel-ilgi span {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.personel-title-3 {
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  padding-bottom: 0;
  position: absolute;
  margin-top: -56px;
  z-index: 1;
  background-color: #fff;
}
.personel-title-4 {
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  padding-bottom: 0;
  position: absolute;
  margin-top: -56px;
  z-index: 1;
  background-color: #fff;
}
.personel-kronik span,
.personel-alerji span,
.personel-evli span,
.personel-ozel span {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.personel-kronik input,
.personel-alerji input,
.personel-evli input,
.personel-ozel input {
  width: 100%;
  border-radius: 10px;
  border: none;
  border: 1px solid #000;
  padding: 5px;
}
.personel-info-3 {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto auto;
}
.personel-button button {
  width: 100%;
  background-color: #497d59;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 5px;
}
.personel-button button:hover {
  background-color: #9cc069;
  transition: 0.3s ease-in-out;
}
.personalpage-err {
  font-size: 30px;
  text-align: center;
  margin-top: 302px;
  margin-bottom: 301px;
  font-weight: bold;
}
.personalpage-err p a {
  color: #497d59;
}
