.register-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 600px;
  background-color: #fff;
  height: 600px;
  border-radius: 30px;
  padding: 30px;
  margin-left: 100px;
}

.register-username-email .register-username span,
.register-username-email .register-email span,
.register-password-repassword .register-password span,
.register-password-repassword .register-repassword span {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.8;
}
.register-username-email .register-username input,
.register-username-email .register-email input,
.register-password-repassword .register-password input,
.register-password-repassword .register-repassword input {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  border: none;
  border: 1px solid #000;
  margin-bottom: 20px;
}
.register-tc span {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.8;
}
.register-age-kilo-boy,
.register-food-targetkilo-interest,
.register-kronik-alerji-evli-ozel {
  display: flex;
}
.register-kronik-alerji-evli-ozel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.register-age,
.register-kilo,
.register-boy,
.register-food,
.register-targetkilo,
.register-interest,
.register-kronik,
.register-alerji,
.register-evli,
.register-ozel {
  margin-right: 5px;
}
.register-tc span,
.register-age span,
.register-kilo span,
.register-boy span,
.register-food span,
.register-targetkilo span,
.register-interest span,
.register-kronik span,
.register-alerji span,
.register-evli span,
.register-ozel span {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.8;
}
.register-tc input,
.register-age input,
.register-kilo input,
.register-boy input,
.register-food input,
.register-targetkilo input,
.register-interest input,
.register-kronik input,
.register-alerji input,
.register-evli input,
.register-ozel input {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  border: none;
  border: 1px solid #000;
  margin-bottom: 20px;
}
.register-age input,
.register-kilo input,
.register-boy input,
.register-food input,
.register-targetkilo input,
.register-interest input {
  width: 170px;
}
.register-left img {
  width: 100%;
  height: 100%;
}
.register-title {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 50px;
}

.register-form .register-button {
  width: 100%;
  background-color: #355c41;
  border: none;
  border-radius: 10px;
  color: #fff;
  height: 40px;
}
.register-form .register-button:hover {
  background-color: #9cc069;
  transition: 0.3s ease-in-out;
}
.register-form .register-info {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}
.register-form .register-info a {
  text-decoration: none;
  color: #355c41;
}
.register-form .register-info a:hover {
  text-decoration: none;
  color: #9cc069;
  transition: 0.2s ease;
}

.back-container-register a {
  font-size: 20px;
  text-decoration: none;
  background-color: #355c41;
  padding: 10px;
  margin: 20px;
  border-radius: 30px;
  position: absolute;
  color: #fff;
}
.button-grp {
  display: flex;
  margin-top: 30px;
}
.button-grp button {
  margin-right: 10px;
}
