.dietdetail-container {
  margin-top: 200px;
}
.dietdetail-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  border-bottom: 2px solid #000;
  padding-bottom: 20px;
}
.diet-detail-food:first-child {
  font-weight: bold;
}
.food {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.food-card {
  margin: 5px;
}
.food-card img {
  width: 100%;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.food-detail-title {
  text-align: center;
  font-weight: bold;
}

.food-card p {
  font-size: 20px;
  font-weight: normal;
}
.food-card p span {
  font-weight: bold;
}
.diet-detail-food ul {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.diet-detail-food ul li {
  font-size: 15px;
  margin-bottom: 30px;
}

.dietdetail-description p {
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
  text-align: start;
}
